Repository TannedCung/gitize: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-case-conflict

  # Frontend (TypeScript/JavaScript/React)
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        files: \.(js|jsx|ts|tsx)$
        args: [--fix]

      - id: prettier
        name: prettier
        entry: npx prettier
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md|yaml|yml)$
        args: [--write]

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        files: \.rs$
        args: [--all, --]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        files: \.rs$
        args: [--all-targets, --all-features, --, -D, warnings]
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock.json

feat: git properties
  .gitignore
  .gitmessage
Due: none

feat: add git properties
  .env.example
  .prettierignore
  .prettierrc
  .secrets.baseline
Due: none

docs: README
  README.md
Due: prettier

feat: front end codebase
  .pre-commit-config.yaml
  frontend/.eslintrc.json
  frontend/.prettierignore
  frontend/Dockerfile
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/next-env.d.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/tailwind.config.js
  frontend/tsconfig.json
Due: eslint, prettier

feat: backend codebase
  .pre-commit-config.yaml
  backend/Cargo.toml
  backend/Dockerfile
  backend/diesel.toml
  backend/migrations/20250903150410_create_repositories/down.sql
  backend/migrations/20250903150410_create_repositories/up.sql
  backend/migrations/20250903150411_create_summaries/down.sql
  backend/migrations/20250903150411_create_summaries/up.sql
  backend/migrations/20250903150412_create_newsletter_subscriptions/down.sql
  backend/migrations/20250903150412_create_newsletter_subscriptions/up.sql
  backend/migrations/20250903150413_create_trending_history/down.sql
  backend/migrations/20250903150413_create_trending_history/up.sql
  backend/src/database.rs
  backend/src/main.rs
  backend/src/models/mod.rs
  backend/src/routes/health.rs
  backend/src/routes/mod.rs
  backend/src/schema.rs
  backend/src/services/mod.rs
Due: prettier, cargo-fmt, cargo-clippy

feat: docker compose
  .env.example
  docker-compose.yml
Due: prettier

feat: structs from Repository, Summary, NewsletterSubscription, and TrendingHistory
  .gitignore
  backend/Cargo.toml
  backend/src/database.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/models/mod.rs
  backend/src/models/newsletter_subscription.rs
  backend/src/models/repository.rs
  backend/src/models/summary.rs
  backend/src/models/trending_history.rs
  backend/src/repositories/mod.rs
  backend/src/repositories/newsletter_repo.rs
  backend/src/repositories/repository_repo.rs
  backend/src/repositories/summary_repo.rs
  backend/src/repositories/trending_history_repo.rs
  backend/src/routes/health.rs
  backend/src/seed.rs
Due: cargo-fmt, cargo-clippy

feat: summary service with caching
  backend/Cargo.toml
  backend/src/services/github_scraper.rs
  backend/src/services/llm_client.rs
  backend/src/services/mod.rs
  backend/src/services/repository_service.rs
  backend/src/services/summary_service.rs
Due: cargo-fmt, cargo-clippy

feat: REST API endpoints
  backend/Cargo.toml
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/repositories/repository_repo.rs
  backend/src/routes/health.rs
  backend/src/routes/mod.rs
  backend/src/routes/newsletter.rs
  backend/src/routes/repositories.rs
  backend/src/services/mod.rs
  backend/src/services/newsletter_service.rs
  backend/src/services/repository_service.rs
  backend/tests/common/mod.rs
  backend/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

feat: implement core UI components
  frontend/app/components/SummaryDemo.tsx
  frontend/app/components/TrendingFeed.tsx
  frontend/app/components/layout/AppLayout.tsx
  frontend/app/components/ui/FilterPanel.tsx
  frontend/app/components/ui/Loading.tsx
  frontend/app/components/ui/RepositoryCard.tsx
  frontend/app/components/ui/SearchBar.tsx
  frontend/app/components/ui/ThemeToggle.tsx
  frontend/app/components/ui/__tests__/FilterPanel.test.tsx
  frontend/app/components/ui/__tests__/Loading.test.tsx
  frontend/app/components/ui/__tests__/RepositoryCard.test.tsx
  frontend/app/components/ui/__tests__/SearchBar.test.tsx
  frontend/app/components/ui/__tests__/ThemeToggle.test.tsx
  frontend/app/components/ui/index.ts
  frontend/app/contexts/ThemeContext.tsx
  frontend/app/demo/page.tsx
  frontend/app/globals.css
  frontend/app/hooks/useRepositories.ts
  frontend/app/hooks/useSummary.ts
  frontend/app/layout.tsx
  frontend/app/lib/api.ts
  frontend/app/newsletter/page.tsx
  frontend/app/page.tsx
  frontend/app/providers/QueryProvider.tsx
  frontend/app/search/page.tsx
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
Due: eslint, prettier

chore: env example
  .env.example
Due: none

feat: sub, unsub
  backend/Cargo.toml
  backend/src/lib.rs
  backend/src/middleware.rs
  backend/src/routes/admin.rs
  backend/src/routes/health.rs
  backend/src/routes/mod.rs
  backend/src/routes/newsletter.rs
  backend/src/services/alerting.rs
  backend/src/services/email_client.rs
  backend/src/services/github_scraper.rs
  backend/src/services/logging.rs
  backend/src/services/metrics.rs
  backend/src/services/mod.rs
  backend/src/services/newsletter_service.rs
  backend/src/services/newsletter_template.rs
  backend/src/services/scheduler.rs
  backend/src/services/service_manager.rs
  backend/tests/common/mod.rs
  backend/tests/newsletter_integration_test.rs
Due: cargo-fmt, cargo-clippy

fix: scheduler
  backend/src/database.rs
  backend/src/services/scheduler.rs
Due: cargo-fmt, cargo-clippy

chore: docker file
  backend/Dockerfile
  backend/init-db.sql
  docker-compose.yml
  frontend/Dockerfile
Due: prettier

feat: integration test
  tests/Dockerfile
  tests/conftest.py
  tests/pytest.ini
  tests/requirements.txt
  tests/test_api_health.py
  tests/test_database_integration.py
  tests/test_frontend_integration.py
  tests/test_newsletter_api.py
  tests/test_repositories_api.py
  tests/test_scheduler_integration.py
Due: none

feat: demo components
  frontend/app/components/AlertDemo.tsx
  frontend/app/components/AvatarDemo.tsx
  frontend/app/components/ButtonDemo.tsx
  frontend/app/components/CheckboxToggleDemo.tsx
  frontend/app/components/CompoundComponentsDemo.tsx
  frontend/app/components/LinkDemo.tsx
  frontend/app/components/LoadingDemo.tsx
  frontend/app/components/PopoverTooltipDemo.tsx
  frontend/app/components/ScrollAreaDemo.tsx
  frontend/app/components/TextFieldDemo.tsx
  frontend/app/components/TrendingFeed.tsx
  frontend/app/components/__tests__/integration.test.tsx
  frontend/app/components/layout/AppLayout.tsx
Due: eslint, prettier

feat: storybook workshop
  frontend/.storybook/README.md
  frontend/.storybook/main.ts
  frontend/.storybook/preview.tsx
Due: eslint, prettier

feat: add hooks
  frontend/app/hooks/__tests__/useDesignTokens.test.tsx
  frontend/app/hooks/useAriaLiveRegion.ts
  frontend/app/hooks/useDesignTokens.ts
  frontend/app/hooks/useFocusManagement.ts
  frontend/app/hooks/useKeyboardNavigation.ts
  frontend/app/hooks/useOptimizedTheme.ts
Due: eslint, prettier

feat (fe): add theme
  frontend/app/contexts/ThemeContext.tsx
  frontend/app/contexts/__tests__/ThemeContext.test.tsx
Due: eslint, prettier

feat: add api lib
  frontend/app/lib/api.ts
  frontend/app/lib/config.ts
Due: eslint, prettier

feat (fe): add pages
  frontend/app/demo/page.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/newsletter/page.tsx
  frontend/app/newsletter/unsubscribe/[token]/page.tsx
  frontend/app/page.tsx
  frontend/app/search/page.tsx
  frontend/app/styles/theme-transitions.css
  frontend/app/utils/accessibility.ts
  frontend/app/utils/accessibilityTesting.ts
Due: eslint, prettier

feat (fe): add millencious compoments
  frontend/.eslintrc.js
  frontend/.eslintrc.json
  frontend/.eslintrc.local.js
  frontend/Dockerfile
  frontend/INTEGRATION_SUMMARY.md
  frontend/e2e/user-workflows.spec.ts
  frontend/jest.setup.js
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/performance.config.js
  frontend/playwright.config.ts
  frontend/public/favicon.ico
  frontend/scripts/bundle-analyzer.js
  frontend/scripts/performance-monitor.js
  frontend/tailwind.config.js
  frontend/test-scrollbar.html
Due: eslint, prettier

fix (be): linting
  backend/src/lib.rs
  backend/src/routes/admin.rs
  backend/src/routes/health.rs
Due: cargo-fmt, cargo-clippy

chore: nginx
  NGINX_SETUP.md
  docker-compose.yml
  nginx/nginx.conf
Due: prettier

chore (be): fix dockerfile
  backend/Dockerfile
Due: none

refactor: flater UI component
  frontend/app/components/ButtonDemo.tsx
  frontend/app/components/layout/AppLayout.tsx
  frontend/app/components/ui/Button.stories.tsx
  frontend/app/components/ui/Button.tsx
  frontend/app/components/ui/TextField.stories.tsx
  frontend/app/components/ui/TextField.tsx
  frontend/app/components/ui/__tests__/Button.test.tsx
  frontend/app/components/ui/__tests__/TextField.test.tsx
Due: eslint, prettier

fix: demo components
  frontend/app/components/FlatFormDemo.tsx
  frontend/app/components/InteractionFeedbackDemo.tsx
  frontend/app/components/TrendingFeed.tsx
  frontend/app/components/TypographyDemo.tsx
  frontend/app/components/layout/AppLayout.tsx
Due: eslint, prettier

fix: hooks
  frontend/app/hooks/__tests__/useDesignTokens.test.tsx
  frontend/app/hooks/useDesignTokens.ts
  frontend/app/hooks/useFlatDesignFocus.ts
  frontend/app/hooks/useOptimizedTheme.ts
Due: eslint, prettier

fix: UI for the app
  frontend/app/contexts/ThemeContext.tsx
  frontend/app/contexts/__tests__/ThemeContext-neutral-palette.test.tsx
  frontend/app/contexts/__tests__/ThemeContext.test.tsx
  frontend/app/globals.css
  frontend/app/interaction-demo/page.tsx
  frontend/app/navigation-demo/page.tsx
  frontend/app/newsletter/page.tsx
  frontend/app/page.tsx
  frontend/app/search/page.tsx
  frontend/app/theme-demo/page.tsx
  frontend/app/utils/accessibility.ts
  frontend/app/utils/accessibilityTesting.ts
  frontend/app/utils/flatDesignAccessibility.ts
  frontend/app/utils/typography.ts
Due: eslint, prettier

fix: tailwind config
  frontend/tailwind.config.js
Due: eslint, prettier

feat: docker compose
  docker-compose.override.yml
  docker-compose.prod.yml
Due: prettier

feat: email newsletter
  .pre-commit-config.yaml
  backend/Cargo.toml
  backend/migrations/2025-09-19-040406_create_users/down.sql
  backend/migrations/2025-09-19-040406_create_users/up.sql
  backend/src/bin/seed_test_data.rs
  backend/src/lib.rs
  backend/src/models/mod.rs
  backend/src/models/newsletter_subscription.rs
  backend/src/models/user.rs
  backend/src/repositories/mod.rs
  backend/src/repositories/newsletter_repo.rs
  backend/src/repositories/user_repo.rs
  backend/src/routes/auth.rs
  backend/src/routes/mod.rs
  backend/src/routes/newsletter.rs
  backend/src/routes/newsletter_analytics.rs
  backend/src/routes/referral.rs
  backend/src/schema.rs
  backend/src/services/ab_testing.rs
  backend/src/services/auth_service.rs
  backend/src/services/mod.rs
  backend/src/services/newsletter_analytics.rs
  backend/src/services/newsletter_service.rs
  backend/src/services/newsletter_template.rs
  backend/src/services/personalization_engine.rs
  backend/src/services/referral_service.rs
  backend/src/services/service_manager.rs
  backend/src/services/tests/ab_testing_tests.rs
  backend/src/services/tests/mod.rs
  backend/src/services/tests/newsletter_analytics_tests.rs
  backend/src/services/tests/personalization_tests.rs
  backend/tests/api_performance_test.rs
  backend/tests/end_to_end_test.rs
  backend/tests/referral_integration_test.rs
Due: prettier, cargo-fmt, cargo-clippy

feat: add tests
  frontend/e2e/README.md
  frontend/e2e/accessibility.spec.ts
  frontend/e2e/api-endpoints.spec.ts
  frontend/e2e/api-performance.spec.ts
  frontend/e2e/critical-user-journeys.spec.ts
  frontend/e2e/global-setup.ts
  frontend/e2e/global-teardown.ts
  frontend/e2e/performance.spec.ts
  frontend/e2e/setup.ts
  frontend/e2e/test-config.ts
  frontend/e2e/test-data-setup.ts
  frontend/e2e/test-utils.ts
  frontend/e2e/visual-regression.spec.ts
Due: eslint, prettier

fix (FE): add tests
  frontend/package.json
  frontend/playwright.config.ts
Due: eslint, prettier

feat: init Chrome extension
  frontend/app/components/ui/Popover.tsx
  frontend/app/components/ui/TabBar.tsx
  frontend/app/components/ui/Tooltip.tsx
  frontend/e2e/test-utils.ts
  frontend/extension/manifest.json
  frontend/extension/newtab.html
  frontend/extension/newtab.js
  frontend/extension/popup.html
  frontend/extension/popup.js
  frontend/extension/styles.css
  frontend/package.json
  frontend/playwright.config.ts
  frontend/public/manifest.json
  frontend/public/newtab.html
  frontend/public/popup.html
Due: eslint, prettier

feat: add extension mode to TrendingFeed
  .gitignore
  frontend/app/components/TrendingFeed.tsx
  frontend/app/components/__tests__/TrendingFeed-extension-simple.test.tsx
  frontend/app/components/ui/LazyRepositoryCard.tsx
  frontend/app/components/ui/RepositoryCard.tsx
  frontend/app/extension-demo/page.tsx
Due: eslint, prettier

feat: style for extension
  frontend/extension/styles.css
Due: prettier

feat: add basic Chrome storage for caching
  frontend/app/components/__tests__/TrendingFeed-extension-simple.test.tsx
  frontend/app/components/ui/CacheStatusIndicator.tsx
  frontend/app/components/ui/__tests__/CacheStatusIndicator.test.tsx
  frontend/app/components/ui/index.ts
  frontend/app/hooks/__tests__/useRepositories-chrome-storage.test.tsx
  frontend/app/hooks/useRepositories.ts
  frontend/extension/newtab.js
  frontend/extension/popup.js
Due: eslint, prettier
